@font-face {
    font-family: 'Inter';
    src: url('../fonts/InterVariable.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
  }

:root {
    --background-color: #F7F6F6;
    --text-color: #3C3633;
    --secondary-text-color: #70615C;
}

[data-theme="dark"] {
    --background-color: #1C1917;
    --text-color: #D3CFCE;
    --secondary-text-color: #877E7A;
}

body {
    font-family: 'Inter', 'sans-serif';
    font-size: 15px;
    line-height: 1.42;

    background-color: var(--background-color);
    color: var(--text-color);
}

.container {
    display: block;
    margin: 5% auto 0;
    max-width: 550px;
}

nav {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

nav a {
    margin-right: 24px;
    text-decoration: none;
    transition: color .3s;
    color: var(--secondary-text-color)
}

nav a:hover {
    color: var(--text-color);
}

nav a.active {
    color: var(--text-color);
}

.theme-button {
    border: none;
    background: none;
    cursor: pointer;
    margin: 0;
    padding: 0;
}

svg {
    vertical-align: middle;
    color: var(--text-color)
}